/* Styling Variables/ Imports */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
/* General Styling  */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

p {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 54px;
  font-weight: 700; }

h2 {
  margin-bottom: 1rem;
  text-transform: uppercase; }

h3 {
  margin-bottom: 1rem;
  text-transform: uppercase; }

p {
  color: #888; }

img {
  max-width: 100%; }

.fa {
  font-size: 3rem; }

.theme-color {
  color: #25387d; }

.theme-bg {
  background-color: #25387d; }

.flat-section .section-content {
  width: 100%;
  padding: 100px 0 100px;
  position: relative;
  clear: both; }

.sec-title .title:after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #25387d;
  margin: 20px auto 0; }

.container {
  padding: 1rem 0; }

.bg-blue-grad {
  background: linear-gradient(45deg, #e5e2e1 0%, #e5e2e1 20%, #e5e2e1 100%);
  background: linear-gradient(45deg, rgba(38, 59, 128, 0.9) 0%, rgba(38, 59, 128, 0.5) 30%, rgba(38, 59, 128, 0.2) 100%); }

.bg-gray {
  background-color: #cfccce; }

.bg-gray-2 {
  background-color: #cfccce; }

.bg-gray-3 {
  background-color: #c0eaf5; }

.bg-gray-4 {
  background-color: #eaeaea; }

.bg-white {
  background-color: #ebe8e8 !important; }

.title {
  padding: 1rem 0; }

/* Hero & Nav area */
.form-cta-2 .col-12:nth-of-type(1) {
  text-shadow: 2px 2px 10px rgba(102, 101, 58, 0.8); }
  .form-cta-2 .col-12:nth-of-type(1) p {
    color: #ebe8e8; }

.form-cta-2 .box-signup-form {
  position: relative;
  padding: 50px;
  text-align: center;
  background: #ebe8e8; }
  .form-cta-2 .box-signup-form input[type=submit] {
    background: #25387d;
    color: #ebe8e8;
    transition: all 0.2s;
    letter-spacing: 2px;
    padding: 26px 26px;
    font-size: 12px;
    text-transform: uppercase; }
  .form-cta-2 .box-signup-form input[type=submit]:hover {
    background: #000; }

.cta-blue .jumbotron {
  background-image: url(/images/bg.jpg);
  margin-bottom: 0; }
  .cta-blue .jumbotron .col-12:nth-of-type(1) {
    text-shadow: 2px 2px 10px rgba(102, 101, 58, 0.8); }
    .cta-blue .jumbotron .col-12:nth-of-type(1) p {
      color: #ebe8e8; }

.quote-bar-wrapper {
  top: 10px;
  padding: 1rem 0;
  transition: 500ms ease; }
  .quote-bar-wrapper span {
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 700; }
  .quote-bar-wrapper input {
    margin-left: 1rem;
    padding: .25rem; }
  .quote-bar-wrapper button {
    margin-left: 1rem;
    background-color: #25387d;
    border: none; }

.quote-bar {
  transition: 500ms all ease; }

.main-nav-wrapper {
  transition: 500ms ease; }

.jumbotron {
  height: 100vh; }

.form-cta-2 .jumbotron {
  background-image: url(/images/clock2-gradient.jpg);
  background-size: cover;
  position: relative; }

/* Hero form region */
.hero-form {
  background-color: #ebe8e8;
  padding: 1rem;
  font-weight: 700; }
  .hero-form h2 {
    font-size: .9rem;
    text-align: center;
    font-weight: 700;
    color: #757575; }
  .hero-form h3 {
    font-size: .8rem;
    text-align: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: #757575;
    font-weight: 700; }
  .hero-form .form-area .col-sm-12 {
    padding: .25rem .5rem; }
  .hero-form .form-area input, .hero-form .form-area select {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #757575;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-weight: 700;
    font-size: .85rem; }
  .hero-form .form-area button {
    background-color: #ec2a90;
    font-size: .85rem;
    font-weight: 700;
    display: block;
    width: 100%;
    letter-spacing: .1rem;
    margin: .5rem 0;
    transition: .5s ease; }
  .hero-form .form-area button:hover {
    background-color: #25387d; }
  .hero-form .form-area .verified {
    font-size: .6rem;
    color: #757575; }
  .hero-form .form-area .disclaimer-text-container {
    background-color: #fff;
    height: 50px;
    overflow-y: scroll;
    border: 1px solid #f5f5f5;
    box-shadow: inset 0 0 3px #d9d9d9;
    padding: 10px;
    font-size: .6rem; }

/* Validation Region */
.validation {
  border-bottom: 2px solid #5590cc;
  padding: 3rem 0; }

/* Press 2 region */
.press-2 {
  padding: 2rem 0; }
  .press-2 h2 {
    margin-bottom: 1.5rem; }

/* Overpay Region */
.overpay img {
  padding-bottom: 2rem; }

.overpay .col-md-4 {
  padding-bottom: 3rem; }

.overpay .col-12 p:last-child a {
  color: #f04ea3;
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize; }

/* Rate Table Region */
.rate-table {
  padding: 1.5rem 0; }
  .rate-table .table {
    width: 66%;
    margin: 2rem auto; }
    .rate-table .table thead {
      background-color: #544fd9;
      color: #ebe8e8; }
    .rate-table .table tbody td {
      border-left: 1px solid #dee2e6;
      text-align: center;
      font-weight: 700;
      background-color: #fff; }
    .rate-table .table tbody th {
      background-color: #fff; }

/* Qualify Chart region */
.qualify-chart {
  padding: 1.5rem 0; }
  .qualify-chart #myChart {
    background-color: #fff; }

/* Mission Region */
.mission {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat; }
  .mission .container {
    padding: 4rem 0; }
    .mission .container p {
      color: #ebe8e8; }

/* Gene table region */
.gene-table {
  padding: 2rem 0; }

/* Headline region */
.headline {
  padding: 2rem 0; }

/* Venn Region */
.venn {
  padding: 2rem 0; }

/* Mortality Region */
.mortality {
  padding: 2rem 0; }

/* Partnered Region */
.partnered {
  padding: 2rem 0; }

/* Team Region */
.team > div {
  padding: 2rem 0; }

/* Mission Region */
/* CTA white region */
.cta-white button {
  margin-bottom: 1rem;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.45);
  transition: .5s ease;
  background-color: #ec2a90; }

.cta-white button:hover {
  background-color: #25387d; }

/* Evolution Region */
.evolution i {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #25387d; }

.services .col-md-4 {
  height: 300px;
  transition: .5s ease;
  padding: 0 2rem;
  z-index: 1; }

.services .col-md-4:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
  z-index: 10; }

.services i {
  font-size: 3rem;
  margin-bottom: 2rem; }

.services .item p {
  opacity: 0;
  transition: 1s ease; }

.services .item:hover p {
  opacity: 1; }

.services .theme-bg h3, .services .theme-bg p, .services .theme-bg i {
  color: #ebe8e8; }

/* Crazy video area set up */
.videos .video-btn {
  display: inline-block;
  margin-top: 0px;
  height: 80px;
  position: relative;
  z-index: 10;
  left: 44px;
  top: -13px; }

.videos .fa {
  top: -50px;
  font-size: 2rem; }

.videos a {
  position: relative; }

.videos .waves {
  background: rgba(235, 232, 232, 0.9);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  position: relative;
  display: inline-block; }
  .videos .waves div {
    position: absolute;
    top: 0;
    left: 0%;
    background: white;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    opacity: 0; }

.videos .waves .wave-one {
  animation: wave-animate 3s infinite ease-out; }

.videos .waves .wave-two {
  animation: wave-animate 3s 1s infinite ease-out; }

.videos .waves .wave-three {
  animation: wave-animate 3s 2s infinite ease-out; }

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center; }
  100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center; } }

/* Report region */
.reports {
  background-image: url(/images/kit.png);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 45%;
  background-color: #dadada; }
  .reports a {
    background-color: #25387d;
    color: #ebe8e8;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .5s ease; }
  .reports a:hover {
    background-color: #00c2f9; }
  .reports .flex-row-reverse > div {
    padding-right: 3rem; }

.reports .row .row {
  padding: 140px 0;
  background-color: #fff; }

/* Freature Grid Region */
.feature-grid .icon {
  font-size: 3rem; }

.feature-grid .col-features {
  padding-top: 60px; }
  .feature-grid .col-features .col-feature {
    position: relative;
    margin-bottom: 60px;
    padding: 30px;
    background-color: #ebe8e8;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    height: 300px; }
    .feature-grid .col-features .col-feature .fa {
      font-size: 3rem;
      margin-bottom: 2.5rem; }
  .feature-grid .col-features .col-feature:hover {
    box-shadow: 0px 0px 30px 0px; }
  .feature-grid .col-features .col-feature:hover:before {
    left: 200%; }
  .feature-grid .col-features .col-feature:before {
    width: 100%;
    height: 2px;
    transform: translateX(-100%); }
  .feature-grid .col-features .col-feature:before, .feature-grid .col-features .col-feature:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #222;
    transition: all 0.5s ease-in-out; }
  .feature-grid .col-features .col-feature:hover:after {
    top: 200%; }
  .feature-grid .col-features .col-feature:after {
    width: 2px;
    height: 100%;
    transform: translateY(-100%); }
  .feature-grid .col-features .col-feature:before, .feature-grid .col-features .col-feature:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #222;
    transition: all 0.5s ease-in-out; }

/* Quote Carousel region */
.quote-carousel-outer {
  padding-top: 100px; }
  .quote-carousel-outer #carouselExampleIndicators {
    background-color: #222;
    position: relative;
    top: -130px;
    box-shadow: -20px 20px 30px 0px rgba(33, 33, 33, 0.25); }
    .quote-carousel-outer #carouselExampleIndicators .quote {
      padding: 5rem 5rem; }

/* Work process region */
.work-process .section-content {
  padding: 6rem 0; }
  .work-process .section-content .process-single {
    height: 300px;
    background-color: #ebe8e8;
    padding: 30px;
    transition: all 0.3s ease-in-out; }
    .work-process .section-content .process-single .badge {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 90px;
      font-weight: 400;
      color: #dee2e6;
      line-height: 1; }
    .work-process .section-content .process-single .fa {
      color: #25387d;
      margin-bottom: 2.5rem; }
  .work-process .section-content .process-single:hover {
    box-shadow: 0px 17px 17px #999; }

/* Quote CTA Region */
.quote-cta .section-content {
  padding: 6rem 0; }
  .quote-cta .section-content input {
    border: none;
    padding: 1rem; }
  .quote-cta .section-content input[type=submit] {
    background-color: #25387d;
    color: #ebe8e8;
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .quote-cta .section-content .form-note {
    display: none; }

/* Footer Region */
.footer .card-columns {
  column-count: 4; }

.footer ul {
  list-style-type: none; }

.footer .card {
  background-color: transparent; }
