/* Styling Variables/ Imports */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");
/* General Styling  */
h1, h2, h3, h4, h5, h6, p {
  font-family: "Ubuntu", sans-serif; }

h1 {
  font-size: 54px;
  font-weight: 700; }

p {
  color: #888; }

img {
  max-width: 100%; }

.theme-color {
  color: #25387d; }

.theme-bg {
  background-color: #25387d; }

.flat-section .section-content {
  width: 100%;
  padding: 100px 0 100px;
  position: relative;
  clear: both; }

.footer .card-columns {
  column-count: 4; }

.footer .card {
  background-color: transparent; }

.container {
  padding: 1rem 0; }

.bg-blue-grad {
  background: linear-gradient(45deg, #e5e2e1 0%, #e5e2e1 20%, #e5e2e1 100%);
  background: linear-gradient(45deg, rgba(38, 59, 128, 0.9) 0%, rgba(38, 59, 128, 0.5) 30%, rgba(38, 59, 128, 0.2) 100%); }

.title {
  padding: 1rem 0; }

.quote {
  padding: 10rem 5rem; }

/* Hero & Nav area */
.form-cta-2 .col-12:nth-of-type(1) {
  text-shadow: 2px 2px 10px rgba(102, 101, 58, 0.8); }
  .form-cta-2 .col-12:nth-of-type(1) p {
    color: #ebe8e8; }

.form-cta-2 .box-signup-form {
  position: relative;
  padding: 50px;
  text-align: center;
  background: #ebe8e8; }
  .form-cta-2 .box-signup-form input[type=submit] {
    background: #25387d;
    color: #ebe8e8;
    transition: all 0.2s;
    letter-spacing: 2px;
    padding: 26px 26px;
    font-size: 12px;
    text-transform: uppercase; }
  .form-cta-2 .box-signup-form input[type=submit]:hover {
    background: #000; }

.cta-blue .jumbotron {
  background-image: url(/images/bg.jpg); }
  .cta-blue .jumbotron .col-12:nth-of-type(1) {
    text-shadow: 2px 2px 10px rgba(102, 101, 58, 0.8); }
    .cta-blue .jumbotron .col-12:nth-of-type(1) p {
      color: #ebe8e8; }

.quote-bar-wrapper {
  top: 10px;
  padding: 1rem 0;
  transition: 500ms ease; }
  .quote-bar-wrapper span, .quote-bar-wrapper input, .quote-bar-wrapper button {
    margin-left: 1rem; }

.quote-bar {
  transition: 500ms ease; }

.main-nav-wrapper {
  transition: 500ms ease; }

.jumbotron {
  height: 100vh; }

.form-cta-2 .jumbotron {
  background-image: url(/images/clock2-gradient.jpg);
  background-size: cover;
  position: relative; }

/* Validation Region */
.validation {
  border-bottom: 2px solid #5590cc;
  padding: 3rem 0; }

/* Press 2 region */
.press-2 {
  padding: 2rem 0; }

/* Overpay Region */
.overpay img {
  padding-bottom: 2rem; }

.overpay .col-12 {
  padding-bottom: 3rem; }
  .overpay .col-12 p:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .overpay .col-12 p:last-child a {
      color: #f04ea3; }

/* Rate Table Region */
.rate-table .table {
  width: 66%;
  margin: 2rem auto; }
  .rate-table .table thead {
    background-color: #544fd9;
    color: #ebe8e8; }
  .rate-table .table tbody td {
    border-left: 1px solid #dee2e6;
    text-align: center;
    font-weight: 700; }

/* Qualify Chart region */
/* Mission Region */
.mission .container {
  background-color: #544fd9;
  padding: 4rem 0; }
  .mission .container p {
    color: #ebe8e8; }

/* Evolution Region */
.evolution i {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #25387d; }

.services .col-md-4 {
  height: 300px; }

.services i {
  font-size: 3rem;
  margin-bottom: 2rem; }

.services .theme-bg h3, .services .theme-bg p, .services .theme-bg i {
  color: #ebe8e8; }

/* Crazy video area set up */
.videos .fa {
  z-index: 10;
  position: absolute;
  top: -50px; }

.videos a {
  position: relative; }

.videos .waves {
  position: absolute;
  top: 0;
  background: rgba(235, 232, 232, 0.9);
  left: 50%;
  width: 25px;
  height: 25px;
  margin-left: -12px;
  margin-top: -54px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  z-index: 1; }

.videos .waves .wave-one {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  animation: wave-animate 3s infinite ease-out;
  z-index: 1; }

.videos .waves .wave-two {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  animation: wave-animate 3s 1s infinite ease-out;
  z-index: 1; }

.videos .waves .wave-three {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  animation: wave-animate 3s 2s infinite ease-out;
  z-index: 1; }

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center; }
  100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center; } }

.videos .video-btn {
  display: inline-block;
  margin-top: 40px;
  height: 80px; }

/* Report region */
.reports {
  background-image: url(/images/kit.png);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 45%;
  background-color: #dadada; }
  .reports a {
    background-color: #25387d;
    color: #ebe8e8;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase; }

.reports .row .row {
  padding: 140px 0;
  background-color: #fff; }
