/* Styling Variables/ Imports */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
$main-font: 'Ubuntu', sans-serif;
$p-font: 'Roboto', sans-serif;
$white:#ebe8e8;
$main-color:#25387d;
$light-blue: #5590cc;
$teal: #00c2f9;
$gray: #525252;
$light-gray:#dee2e6;
$light-gray2:#cfccce;
$light-gray3:#c0eaf5;
$light-gray4:#eaeaea;
$light-gray5:#dadada;
$light-gray6:#757575;
$purple: #544fd9;
$pink:#ec2a90;

/* General Styling  */
*{
  font-size:16px;
  transition: .5s ease;
}


h1,h2,h3,h4,h5,h6{
    font-family: $main-font;

    span{
        font-size:inherit;
    }
}

p{
    font-family:$p-font;

    span{
        font-size:inherit;
    }
}

h1{
    font-size:54px;
    font-weight: 700;
}

h2{
    margin-bottom:1rem;
    text-transform:uppercase;
}

h3{
    margin-bottom:1rem;
    text-transform:uppercase;
}

p{
    color:#888;
}

img{
	max-width:100%;
}

.container{
    padding:5rem 0;
}

.jumbotron{
    border-radius:0;
}

.fa{
    font-size:3rem;
}

.theme-color{
    color:$main-color;
}

.theme-bg{
    background-color:$main-color;
}

.outer-element{
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
}

button:hover,input[type=submit]:hover,.btn:hover{
    box-shadow:2px 2px 3px rgba(0,0,0,.4);
}

.flat-section .section-content {
    width: 100%;
    padding: 0;
    position: relative;
    clear: both;
}

.sec-title .title:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: $main-color;
    margin: 20px auto 0;
}


div .container:nth-of-type(2){
    padding-top:0;
}

.bg-blue-grad{
	background: linear-gradient(45deg, rgba(229, 226, 225, 1) 0%, rgba(229, 226, 225, 1) 20%, rgba(229, 226, 225, 1) 100%);
    background: linear-gradient(45deg, rgba(38, 59, 128, .9) 0%, rgba(38, 59, 128, .5) 30%, rgba(38, 59, 128, .2) 100%);
}

.bg-gray{
    background-color:$light-gray2;
}

.bg-gray-2{
    background-color:$light-gray2;
}

.bg-gray-3{
    background-color:$light-gray3;
} 

.bg-gray-4{
    background-color:$light-gray4;
}

.bg-white{
    background-color:$white !important;
}

.title{
    padding:1rem 0;
}

/* Version Menu Region */
.version-menu .jumbotron{
    background-image:url(/images/bg.jpg);
    background-size:cover;
    position:relative;
    margin-bottom:0;

    ul{
        background-color:rgba(255,255,255,1);
        padding:2rem;
        //transition:.5s ease;
        position:relative;

        li{

            a{
                font-size:1.5rem;
            }
        }
    }

    ul:hover{
box-shadow: 0px 17px 17px rgba(0,0,0,0.4);
    }
} 

/* Hero & Nav area */

.form-cta-2{

    .col-12:nth-of-type(1){
        text-shadow: 2px 2px 10px rgba(102, 101, 58, .8);

        p{
            color:$white;
        }
    } 

    .box-signup-form {
        position: relative;
        padding: 50px;
        text-align: center;
        background: $white;

        input[type=submit]{
            background:$main-color;
            color:$white;
            transition: all 0.2s;
            letter-spacing: 2px;
            padding: 26px 26px;
            font-size: 12px;
            text-transform: uppercase;
        }

        input[type=submit]:hover{
            background:#000;
        }
    }
}

.cta-blue{

    .jumbotron{
        background-image:url(/images/bg.jpg);
        margin-bottom:0;

        .col-12:nth-of-type(1){
            text-shadow: 2px 2px 10px rgba(102, 101, 58, .8);

            p{
                color:$white;
            }
        } 
    }
}

.quote-bar-wrapper{
    top:10px;
    padding:1rem 0;
    transition:500ms ease;

    span{
        margin-left:1rem;
        font-size:1.1rem;
        font-weight:700;
    }

    input{
        margin-left:1rem;
        padding:.25rem;
    }

    button{
        margin-left:1rem;
        background-color:$pink;
        border:none;
    }
}

.quote-bar{
    transition:500ms all ease;
    padding: 1rem 0;

}

.quote-bar .container{
    padding:1rem 0;
}


.main-nav-wrapper{
    transition:500ms ease;

    .container{
        padding:1rem 0;
    }
}

.jumbotron{
    height: 100vh;
}

.form-cta-2 .jumbotron{
    background-image:url(/images/clock2-gradient.jpg);
    background-size:cover;
    position:relative;
}

/* Hero form region */

.hero-form{

    background-color:$white;
    padding:1rem;
    font-weight:700;

    h2{
        font-size:.9rem;
        text-align:center;
        font-weight:700;
        color: $light-gray6;
    } 

    h3{
        font-size:.8rem;
        text-align:center;
        margin-bottom:.5rem;
        margin-top:.5rem;
        color: $light-gray6;
        font-weight:700;
    }

    .form-area{
        .col-sm-12{
            padding:.25rem .5rem;
        }

        input,select{
            width:100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            line-height: 1.5;
            color: $light-gray6;
            vertical-align: middle;
            border-radius: 0.25rem;
            border: 1px solid #ced4da;
            font-weight:700;
            font-size:.85rem; 

        }

        button{
            background-color:$pink;
            font-size:.85rem;
            font-weight:700;
            display: block;
            width: 100%;
            letter-spacing:.1rem;
            margin:.5rem 0;
            transition:.5s ease;
        }

        button:hover{
            background-color:$main-color;
        }

        .verified{
            font-size:.6rem;
            color:$light-gray6;
        }

        .disclaimer-text-container{
            background-color: #fff;
            height: 50px;
            overflow-y: scroll;
            border: 1px solid #f5f5f5;
            box-shadow: inset 0 0 3px #d9d9d9;
            padding: 10px;

            p{
            font-size:.6rem;
        }
        }
    }

}

/* Validation Region */
.validation{
    border-bottom:2px solid #5590cc;
    padding: 0;
}

/* Press 2 region */
.press-2{
    padding:0;

    h2{
     margin-bottom:1.5rem;
 }
}

/* Overpay Region */

.overpay{

    .container{
        border-top:1px solid $light-gray5;
    }

    img{
        padding-bottom:2rem;
    }

    .col-md-4{
       padding-bottom:3rem;
   }

   .col-12{



    p:last-child{

        a{
            color:#f04ea3;
            position: absolute;
            bottom: 18px;
            left: 0;
            width: 100%; 
            text-align: center;
            text-transform:capitalize;
        }
    }
}
}

/* Rate Table Region */

.rate-table{
    padding: 0;

    .table{

        width:66%;
        margin:1rem auto;

        thead{
            background-color:$purple;
            color:$white;
        }

        tbody{

            td{
                border-left:1px solid $light-gray;
                text-align:center;
                font-weight:700;
                background-color:#fff;
            }

            th{
                background-color:#fff;
            }
        }
    }
}

/* Qualify Chart region */

.qualify-chart{
    padding:0;

    #myChart{
        background-color:#fff;
    }

}

/* Mission Region */

.mission{
    background-image:url('/images/bg.jpg');
    background-size:cover;
    background-position-y:top;
    
    background-repeat:no-repeat;


    .container{

        padding:4rem 0;

        p{
            color:$white;
        }
    }
}

/* Gene table region */
.gene-table{

}

/* Headline region */
.headline{

}

/* Venn Region */
.venn{

}

/* Mortality Region */
.mortality{

}

/* Partnered Region */
.partnered{

}

/* Team Region */
.team>div{

}

/* Mission Region */
.mission{

}

/* CTA white region */
.cta-white{

    button{
        margin-bottom:1rem;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.45);
        transition: .5s ease;
        background-color:$pink;
    }

    button:hover{
        background-color:$main-color;
    }
}

/* Evolution Region */
.evolution{

 i{
    font-size:5rem;
    margin-bottom:2rem;
    color:$main-color;
}

}

.services{

    .col-md-4{
        height:300px;
        transition:.5s ease;
        padding:0 2rem;
        z-index:1;
    }

    .col-md-4:hover{
        transform: scale(1.1);
        box-shadow:0px 0px 10px rgba(0,0,0,.65);
        z-index:10;
    }

    i{
        font-size:3rem;
        margin-bottom:2rem;
    }

    .item{

        p{

            opacity:0;
            transition:1s ease;
        }
    }

    .item:hover{

        p{
            opacity:1;
        }
    }

    .theme-bg{

        h3,p,i{
            color:$white;
        }
    }
}


/* Crazy video area set up */

.videos{

 .container{
    padding:8rem 0 6rem 0;
}

.video-btn {
    display: inline-block;
    margin-top: 0px;
    height: 80px;
    position:relative;
    z-index:10;
    left: 44px;
    top: -13px;
}


.fa{
   // z-index:10;
   top: -50px;
   font-size:2rem;
}

a{
    position:relative;
}

.waves {
    background: rgba(235, 232, 232, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    //z-index:1;
    position:relative;
    display:inline-block;
    //top:0;
    //left:0%;

    div{
       position: absolute;
       top:0;
       left:0%;
       background: white;
       width: 50px;
       height: 50px;
       content: "";
       display: block;
       border-radius: 50%;
       -webkit-backface-visibility: hidden;
       opacity: 0;  
       //z-index:1;
   }
}

.waves .wave-one {
    animation: wave-animate 3s infinite ease-out;
}

.waves .wave-two {
    animation: wave-animate 3s 1s infinite ease-out;
}

.waves .wave-three {
    animation: wave-animate 3s 2s infinite ease-out;
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}



}

/* Report region */

.reports{
    background-image: url(/images/kit.png);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 45%;
    background-color:#dadada;

    a{
        background-color:$main-color;
        color:$white;
        font-size:0.9rem;
        letter-spacing:2px;
        text-transform:uppercase;
        transition:.5s ease;
    }

    a:hover{
        background-color:$teal;
    }

    .flex-row-reverse>div{
        padding-right:3rem;
    }
} 

.reports .row .row{
    padding:140px 0;
    background-color:#fff;
}

/* Freature Grid Region */

.feature-grid{

    .icon{
        font-size:3rem;
    }

    .col-features{

        padding-top:60px;

        .col-feature{
            position: relative;
            margin-bottom: 60px;
            padding: 30px;
            background-color: #ebe8e8;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            height:300px;

            .fa{
                font-size:3rem;
                margin-bottom:2.5rem;
            }
        }

        .col-feature:hover{
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3) ;
        }

        .col-feature:hover:before {
            left: 200%;
        }

        .col-feature:before {
            width: 100%;
            height: 2px;
            transform: translateX(-100%);
        }

        .col-feature:before, .col-feature:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: #222;
            transition: all 0.5s ease-in-out;
        }

        .col-feature:hover:after {
            top: 200%;
        }

        .col-feature:after {
            width: 2px;
            height: 100%;
            transform: translateY(-100%);
        }

        .col-feature:before, .col-feature:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: #222;
            transition: all 0.5s ease-in-out;
        }

    }
}

/* Quote Carousel region */
.quote-carousel-outer{

    padding-top:180px;

    .container{
        padding:0;
    }

    #carouselExampleIndicators{
        background-color:#222;
        position:relative;
        top:-130px;
        box-shadow: -20px 20px 30px 0px rgba(33, 33, 33, 0.25);


        .quote{
            padding:5rem 5rem;

            .quote-inner{

                padding:0 2rem;

                p{
                    font-size:1.75rem;
                    font-family:$main-font;
                    color:$white;
                }

                .byline{
                    font-size:1.0rem;
                }

            }
        }
    }
}

/* Work process region */

.work-process{

    .title{
        margin-bottom:0;
    }

    .subtitle{
        margin-bottom:3rem;
    }

    .section-content{

        padding:0;

        .process-single{
            height:300px;
            background-color:$white;
            padding:30px;
            transition: all 0.3s ease-in-out;

            .badge{
               position: absolute;
               top: 15px;
               left: 15px;
               font-size: 90px;
               font-weight: 400;
               color: $light-gray;
               line-height: 1; 
           }

           .fa{
            color:$main-color;
            margin-bottom:2.5rem;
        }
    }

    .process-single:hover {
        box-shadow: 0px 17px 17px #999;
    }
}
}

/* Quote CTA Region */

.quote-cta{

    .section-content{

        padding: 0;

        input{
            border:none;
            padding:1rem;
        }

        input[type=submit]{
            background-color:$main-color;
            color:$white;
            font-size:.9rem;
            letter-spacing:2px;
            text-transform:uppercase;
        }

        .form-note{
            display:none;
        }
    }
}

/* Footer Region */

.footer .card-columns{
    column-count:4;
}

.footer{
 ul{
    list-style-type:none;
}
}

.footer .card{
    background-color:transparent;
}

/* Large devices only */
@media (min-width:992px){

}

/* Medium devices and down */
@media(max-width:992px){


.quote-bar{
    display:none;
}
}

/* Medium devices only */
@media(max-width:992px) and (min-width:768px){

}

/* Small devices only */
@media(max-width:768px){
    
}
