/* Styling Variables/ Imports */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
$main-font: 'Ubuntu', sans-serif;
$p-font: 'Roboto', sans-serif;
$white:#f1f1f1;
$main-color:#25387d;
$light-blue: #5590cc;
$teal: #00c2f9;
$gray: #525252;
$light-gray:#dee2e6;
$light-gray2:#dedede;
$light-gray3:#c0eaf5;
$light-gray4:#eaeaea;
$light-gray5:#dadada;
$light-gray6:#757575;
$purple: #544fd9;
$pink:#ec2a90;
$inactive-shadow:0 0 7px 0 rgba(0,0,0,0.3);
$active-shadow:0 6px 12px 0 rgba(0,0,0,0.4);

/* General Styling  */
*{
  font-size:16px;
  //transition: .5s ease;
}


h1,h2,h3,h4,h5,h6{
    font-family: $main-font;

    span{
        font-size:inherit;
    }
}

p{
    font-family:$p-font;

    span{
        font-size:inherit;
    }
}

h1{
    font-size:54px;
    font-weight: 700;
}

h2{
    margin-bottom:1rem;
    text-transform:uppercase;
    color:$gray;
    font-weight:700;
}

h3{
    margin-bottom:1rem;
    text-transform:uppercase;
    color:$gray;
    font-weight:700;
}

p{
    color:#888;
}

ul{ 
 list-style-image:url('/images/bullet.png');

 li{
    margin-bottom:1rem;
}
}

img{

	max-width:100%;
}

table{
    box-shadow:$inactive-shadow;
}

button, input[type=submit]{
    box-shadow:$inactive-shadow;
    transition:.5s ease;
}

button:hover,input[type=submit]:hover,.btn:hover{
    box-shadow:$active-shadow;
}

.container{
    padding:5rem 0;
}

.outer-element{
    box-shadow:0 0px 5px rgba(0,0,0,0.4);
}

.outer-element:nth-of-type(n+6):nth-of-type(even){
    background-color:$white;
}

.outer-element:nth-of-type(n+6):nth-of-type(odd){
    background-color:$light-gray2;
}

.jumbotron{
    border-radius:0;
}

.fa{
    font-size:3rem;
}

.theme-color{
    color:$main-color;
}

.theme-bg{
    background-color:$main-color;
}



.flat-section .section-content {
    width: 100%;
    padding: 0;
    position: relative;
    clear: both;
}

.sec-title .title:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: $main-color;
    margin: 20px auto 0;
}


div .container:nth-of-type(2){
    padding-top:0;
}

.bg-blue-grad{
	background: linear-gradient(45deg, rgba(229, 226, 225, 1) 0%, rgba(229, 226, 225, 1) 20%, rgba(229, 226, 225, 1) 100%);
    background: linear-gradient(45deg, rgba(38, 59, 128, .9) 0%, rgba(38, 59, 128, .5) 30%, rgba(38, 59, 128, .2) 100%);
}

.bg-gray{
    background-color:$light-gray2;
}

.bg-gray-2{
    background-color:$light-gray2;
}

.bg-gray-3{
    background-color:$light-gray3;
} 

.bg-gray-4{
    background-color:$light-gray4;
}

.bg-white{
    background-color:$white !important;
}

.chartjs-render-monitor{
    box-shadow:$inactive-shadow;
}

.title{
    padding:1rem 0;
}

/* Version Menu Region */
.version-menu .jumbotron{
    background-image:url('/images/bg.jpg');
    background-size:cover;
    position:relative;
    margin-bottom:0;

    h1{
        text-shadow:3px 3px 5px rgba(0,0,0,0.4);
    }

    ul{
        padding:2rem;
        //transition:.5s ease;
        position:relative;
        list-style-type:none;
        list-style-image: none;
        margin-bottom:0;


        li{
            margin-bottom:2rem;

            a{
                font-size:1.5rem;
                color:$white;
                font-weight:700;
                text-shadow:2px 2px 3px rgba(0,0,0,0.4);
            }
        }
    }

    ul:hover{

    }
} 

/* Hero & Nav area */

.form-cta-2{

    .col-12:nth-of-type(1){
        text-shadow: 2px 2px 10px rgba(102, 101, 58, .8);

        p{
            color:$white;
        }
    } 

    .box-signup-form {
        position: relative;
        padding: 50px;
        text-align: center;
        background: $white;

        input[type=submit]{
            background:$main-color;
            color:$white;
            transition: all 0.2s;
            letter-spacing: 2px;
            padding: 26px 26px;
            font-size: 12px;
            text-transform: uppercase;
        }

        input[type=submit]:hover{
            background:#000;
        }
    }
}

.cta-blue{

    .jumbotron{
        background-image:url(/images/bg.jpg);
        margin-bottom:0;
        position:relative;

        .col-12:nth-of-type(1){
            text-shadow: 2px 2px 10px rgba(15, 16, 31, .9);

            p{
                color:$white;
            }
        }


    }

    .waves{
        width:100%;
        bottom:-3px;
        left:0;
        position:absolute;
    }

}

.quote-bar-wrapper{
    top:10px;
    padding:1rem 0;
    transition:500ms ease;

    span{
        margin-left:1rem;
        font-size:1.1rem;
        font-weight:700;
    }

    input{
        margin-left:1rem;
        padding:.25rem;
    }

    button{
        margin-left:1rem;
        background-color:$pink;
        border:none;
    }
}

.quote-bar{
    transition:500ms all ease;
    padding: 1rem 0;

}

.quote-bar .container{
    padding:1rem 0;
}


.main-nav-wrapper{
    transition:500ms ease;

    .container{
        padding:1rem 0;
    }

    ul{

        li{
            margin-bottom:0;
        }
    }
}

.jumbotron{
    height: 100vh;
}

.form-cta-2 .jumbotron{
    background-image:url(/images/clock2-gradient.jpg);
    background-size:cover;
    position:relative;
}

.navbar-toggler-icon{
    height:30px;
    width:30px;
} 

/* Hero arrow region */

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}


.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
  position: absolute;
  bottom: -138px;
  left: 50%;
  margin-left:-2em;
  z-index: 10;
}

.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid $teal;
}

.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid $teal;
}


/* Hero form region */

.hero-form{

    background-color:$white; 
    padding:1rem;
    font-weight:700;

    h2{
        font-size:.9rem;
        text-align:center;
        font-weight:700;
        color: $light-gray6;
    } 

    h3{
        font-size:.8rem;
        text-align:center;
        margin-bottom:.5rem;
        margin-top:.5rem;
        color: $light-gray6;
        font-weight:700;
    }

    .form-area{
        .col-sm-12{
            padding:.25rem .5rem;
        }

        input,select{
            width:100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            line-height: 1.5;
            color: $light-gray6;
            vertical-align: middle;
            border-radius: 0.25rem;
            border: 1px solid #ced4da;
            font-weight:700;
            font-size:.85rem; 

        }

        button{
            background-color:$pink;
            font-size:.85rem;
            font-weight:700;
            display: block;
            width: 100%;
            letter-spacing:.1rem;
            margin:.5rem 0;
            transition:.5s ease;
        }

        button:hover{
            background-color:$main-color;
        }

        .verified{
            font-size:.6rem;
            color:$light-gray6;
        }

        .disclaimer-text-container{
            background-color: #fff;
            height: 50px;
            overflow-y: scroll;
            border: 1px solid #f5f5f5;
            box-shadow: inset 0 0 3px #d9d9d9;
            padding: 10px;

            p{
                font-size:.6rem;
            }
        }
    }

}

/* Validation Region */
.validation{
    border-bottom:2px solid #5590cc;
    padding: 0;
}

/* Press 2 region */
.press-2{
    padding:0;

    h2{
       margin-bottom:1.5rem;
   }
}

/* Overpay Region */

.overpay{

    .container{
        border-top:1px solid $light-gray5;
    }

    img{
        padding-bottom:2rem;
    }

    .col-md-4{
     padding-bottom:3rem;
 }

 .col-12{



    p:last-child{

        a{
            color:#f04ea3;
            position: absolute;
            bottom: 18px;
            left: 0;
            width: 100%; 
            text-align: center;
            text-transform:capitalize;
        }
    }
}
}

/* Rate Table Region */

.rate-table{
    padding: 0;

    table{

        width:66%;
        margin:1rem auto;

        thead{
            background-color:$purple;
            color:$white;
        }

        tbody{

            td{
                border-left:1px solid $light-gray;
                text-align:center;
                font-weight:700;
                background-color:#fff;
            }

            th{
                background-color:#fff;
            }
        }
    }
}

/* Qualify Chart region */

.qualify-chart{
    padding:0;

    #myChart{
        background-color:#fff;
        width:400px;
        height:200px;
    }

}

/* Mission Region */

.mission{
    background-image: url('/images/bg.jpg'); 
    background-size:cover;
    background-position-y:top;
    background-repeat:no-repeat;


    .container{

        padding:4rem 0;

        p{
            color:$white;
        }
    }
}  

/* Gene table region */
.gene-table{

    table{
        background-color:$white;

        thead{
            color:$white;
            background-color:$gray;
            text-align:center;

            th{
               border-left:1px solid $white;
               border-right:1px solid $white;
           }
       }

       tbody{
        tr{
            background-color:#fff;


        }
    }

    td{
        border-left:1px solid $white;
        border-right:1px solid $white;
    }
}
}

/* Headline region */
.headline{

    .text{
        padding:1rem 3rem;
    }
}

/* Venn Region */
.venn{

    .text{
        padding:1rem 3rem;
    }
}

/* Mortality Region */
.mortality{

    .text{
        padding:1rem 3rem;
    }
}

/* Partnered Region */
.partnered{

    .text{
        padding:1rem 3rem;
    }
}

/* Image Full Width region */
.image-full-width{

    div{
        background-size:cover;
        padding-bottom:400px;
        background-position:center;
        background-image:url('/images/blue-fullwidth.jpg');
    }
}

/* Team Region */
.team.outer-element{
    background-color:$gray!important;

    h2{
        color:$white;
    }

    p{
        color:$white;    
    }

    .team-columns{

        .team-inner{
            background-color:$white;
            color:$gray;
            text-align:center;
            transition:.5s ease;

            padding:.75rem .25rem .25rem .25rem;
            margin:1.5rem 2.5rem;
            display:block;
            width:172px;
            height:225px;
            box-shadow:0px 2px 3px rgba(0,0,0,0.6);

            .team-body{
                padding:0 .25rem; 
            }

            p{
                margin-bottom:0;
                font-size:.75rem;
                color:inherit;
            }

            h5{
                margin-bottom:0;
                font-size:1.0rem;
                
            }

            img{
                margin-bottom:.5rem;
            }
        }

        .team-inner:hover{
            transform:scale(1.05);
            box-shadow:0px 5px 6px rgba(0,0,0,0.4);
        }  
    }
}

/* Mission Region */
.mission{

    h2{
        color:$white;
    }
}

/* CTA white region */
.cta-white{

    h2,h3{
        line-height:275%;
    }
    

    button{
        margin-bottom:1rem;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.45);
        transition: .5s ease;
        background-color:$pink;
    }

    button:hover{
        background-color:$main-color;
    }
}

/* Evolution Region */
.evolution{

   i{
    font-size:5rem;
    margin-bottom:2rem;
    color:$main-color;
}

}

.services{

    .row:hover > .col-md-4{
      -webkit-filter: brightness(.5);
      filter: brightness(.5);
  }

  .row{
    transition: ease .5s;
    

    .col-md-4{
        height:300px;
        transition:.5s ease;
        padding:0 2rem;
        z-index:1;
    }

    .col-md-4:hover{
        transform: scale(1.1);
        box-shadow:0px 0px 10px rgba(0,0,0,.65);
        z-index:10;
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }

    i{
        font-size:3rem;
        margin-bottom:2rem;
    }

    .item{

        p{

            opacity:0;
            transition:1s ease;
        }
    }

    .item:hover{

        p{
            opacity:1;
        }
    }
}

.theme-bg{

    h3,p,i{
        color:$white;
    }
}
}


/* Crazy video area set up */

.videos{

   .container{
    padding:8rem 0 6rem 0;
}

.video-btn {
    display: inline-block;
    margin-top: 0px;
    height: 80px;
    position:relative;
    z-index:10;
    left: 44px;
    top: -13px;
}


.fa{
 // z-index:10;
 top: -50px;
 font-size:2rem;
}

a{
    position:relative;
}

.waves {
    background: rgba(235, 232, 232, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    //z-index:1;
    position:relative;
    display:inline-block;
    //top:0;
    //left:0%;

    div{
     position: absolute;
     top:0;
     left:0%;
     background: white;
     width: 50px;
     height: 50px;
     content: "";
     display: block;
     border-radius: 50%;
     -webkit-backface-visibility: hidden;
     opacity: 0;  
     //z-index:1;
 }
}

.waves .wave-one {
    animation: wave-animate 3s infinite ease-out;
}

.waves .wave-two {
    animation: wave-animate 3s 1s infinite ease-out;
}

.waves .wave-three {
    animation: wave-animate 3s 2s infinite ease-out;
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}



}

/* Report region */

.reports{
    background-image: url(/images/kit.png);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 45%;
    background-color:#dadada;

    a{
        background-color:$main-color;
        color:$white;
        font-size:0.9rem;
        letter-spacing:2px;
        text-transform:uppercase;
        transition:.5s ease;
    }

    a:hover{
        background-color:$teal;
    }

    .flex-row-reverse>div{
        padding-right:3rem;
    }
} 

.reports .row .row{
    padding:140px 0;
    background-color:#fff;
}

/* Freature Grid Region */

.feature-grid{

    .icon{
        font-size:3rem;
    }

    .col-features{

        padding-top:60px;

        .col-feature{
            position: relative;
            margin-bottom: 60px;
            padding: 30px;
            background-color: #ebe8e8;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            height:300px;
            box-shadow:$inactive-shadow;

            .fa{
                font-size:3rem;
                margin-bottom:2.5rem;
            }
        }

        .col-feature:hover{
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3) ;
        }

        .col-feature:hover:before {
            left: 200%;
        }

        .col-feature:before {
            width: 100%;
            height: 2px;
            transform: translateX(-100%);
        }

        .col-feature:before, .col-feature:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: #222;
            transition: all 0.5s ease-in-out;
        }

        .col-feature:hover:after {
            top: 200%;
        }

        .col-feature:after {
            width: 2px;
            height: 100%;
            transform: translateY(-100%);
        }

        .col-feature:before, .col-feature:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: #222;
            transition: all 0.5s ease-in-out;
        }

    }
}

/* Quote Carousel region */
.quote-carousel-outer.outer-element{
    box-shadow:none;
}

.quote-carousel-outer{

    padding-top:180px;

    .container{
        padding:0;
    }

    #carouselExampleIndicators{
        background-color:#222;
        position:relative;
        top:-130px;
        box-shadow: -20px 20px 30px 0px rgba(33, 33, 33, 0.25);


        .quote{
            padding:5rem 5rem;

            .quote-inner{

                padding:0 2rem;

                p{
                    font-size:1.75rem;
                    font-family:$main-font;
                    color:$white;
                }

                .byline{
                    font-size:1.0rem;
                }

            }
        }
    }
}

/* Work process region */

.work-process{

    .title{
        margin-bottom:0;
    }

    .subtitle{
        margin-bottom:3rem;
    }

    .section-content{

        padding:0;

        .process-single{
            height:300px;
            background-color:$white;
            padding:30px;
            transition: all 0.3s ease-in-out;
            box-shadow:$inactive-shadow;

            .badge{
             position: absolute;
             top: 15px;
             left: 15px;
             font-size: 90px;
             font-weight: 400;
             color: $light-gray;
             line-height: 1; 
         }

         .fa{
            color:$main-color;
            margin-bottom:2.5rem;
        }
    }

    .process-single:hover {
        box-shadow: 0px 17px 17px #999;
    }
}
}

/* Quote CTA Region */

.quote-cta{

    .section-content{

        padding: 0;

        input{
            border:none;
            padding:1rem;
        }

        input[type=submit]{
            background-color:$main-color;
            color:$white;
            font-size:.9rem;
            letter-spacing:2px;
            text-transform:uppercase;
        }

        .form-note{
            display:none;
        }
    }
}

/* Footer Region */

.footer .card-columns{
    column-count:4;
}

.footer{
   ul{
    list-style-type:none;
}
}

.footer .card{
    background-color:transparent;
}

/* Large devices only */
@media (min-width:992px){
    .hide-lg{display:none!important;}
    /* General Styling  */
    /* Version Menu Region */
    /* Hero & Nav area */
    .main-nav-wrapper{

        .navbar{

            .nav-link{
                padding-right: 0rem;
                padding-left: 2.5rem;
            }

            .navbar-brand{
                width:190px;
                height:62px;

                .logo-wrap{
                    position:relative;
                    width:190px;
                    height:68px;
                    overflow:visible;


                    img{
                        position:absolute;
                        top:-25px;
                        left:0;
                        width:190px;
                        height:150px;

                    }
                }
            }
        }
    }
    /* Hero form region */
    /* Validation Region */
    /* Press 2 region */
    /* Overpay Region */
    /* Rate Table Region */
    /* Qualify Chart region */
    /* Mission Region */
    /* Gene table region */
    /* Headline region */
    /* Venn Region */
    /* Mortality Region */
    /* Partnered Region */
    /* Team Region */
    /* Mission Region */
    /* CTA white region */
    /* Evolution Region */
    /* Crazy video area set up */
    /* Report region */
    /* Freature Grid Region */
    /* Quote Carousel region */
    /* Work process region */
    /* Quote CTA Region */
    /* Footer Region */
}

/* Medium devices and down */
@media(max-width:992px){
    /* General Styling  */
    .hide-med{
        display:none!important;
    }
    /* Version Menu Region */
    /* Hero & Nav area */
    .main-nav-wrapper{
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);

        .container{
            padding: 0;
        }

        nav{
            padding:0;

            .navbar-nav{
                padding-bottom:1rem;
            }
        }

        .logo-wrap{

            img{
             width: 70px;
         }
     }
 }

 .quote-bar{
     display:none;
 }

 .cta-blue{

    .jumbotron{
        background-image:url('/images/bg-mobile.jpg');
    }
}
/* Hero form region */
/* Validation Region */
/* Press 2 region */
/* Overpay Region */
.overpay{

    .col-md-4{
        margin-bottom:3rem;
    }
}
/* Rate Table Region */
.rate-table{

    table{
        width:inherit;
    }
}
/* Qualify Chart region */
.qualify-chart{

    .chart-col{
        //min-height:500px;
    } 

    #myChart{
        // height:1vh!important;
        // width:400px;
    }
}

/* Mission Region */
/* Gene table region */
.gene-table{

   table{
    width:inherit;
}
}
/* Headline region */
/* Venn Region */
/* Mortality Region */
/* Partnered Region */
/* Image Full Width region */
/* Team Region */
.team{

    .team-columns{
        .team-inner{
            margin:1.5rem auto!important;
            //width:100%;
        }
    }
}
/* Mission Region */
/* CTA white region */
/* Evolution Region */
/* Crazy video area set up */
/* Report region */
/* Freature Grid Region */

.feature-grid{

    .col-features{

        .col-feature{

            height:400px;
        }
    }
}
/* Quote Carousel region */
/* Work process region */
/* Quote CTA Region */
/* Footer Region */
}

/* Medium devices only */
@media(max-width:992px) and (min-width:768px){
    /* General Styling  */
    /* Version Menu Region */
    /* Hero & Nav area */
    /* Hero form region */
    /* Validation Region */
    /* Press 2 region */
    /* Overpay Region */
    /* Rate Table Region */
    /* Qualify Chart region */
    /* Mission Region */
    /* Gene table region */
    /* Headline region */
    /* Venn Region */
    /* Mortality Region */
    /* Partnered Region */
    /* Image Full Width region */
    /* Team Region */
    /* Mission Region */
    /* CTA white region */
    /* Evolution Region */
    /* Crazy video area set up */
    /* Report region */
    /* Freature Grid Region */
    /* Quote Carousel region */
    /* Work process region */
    /* Quote CTA Region */
    /* Footer Region */
}

/* Small devices only */
@media(max-width:768px){
    /* General Styling  */
    .hide-sm{
        display:none!important;
    }

    .row{
        margin-left:0;
        margin-right:0;
    }

    h2{
        padding: 0 1rem;
    }

    h4{
        margin-bottom:2rem;
        margin-top:2.5rem;
    }
    /* Version Menu Region */
    /* Hero & Nav area */

    .cta-blue{
        .jumbotron{
            .container{
            }
        }
    }


    /* Hero form region */
    /* Validation Region */
    /* Press 2 region */
    /* Overpay Region */
    /* Rate Table Region */
    /* Qualify Chart region */
    /* Mission Region */
    /* Gene table region */
    /* Headline region */
    /* Venn Region */
    /* Mortality Region */
    /* Partnered Region */
    .image-full-width{
        div{
            background-position-x:right;
            background-image:url('/images/blue-fullwidth-mobile.jpg');
        }
    }
    /* Image Full Width region */
    /* Team Region */
    .team{

        .team-columns{
            .team-inner{
                margin:1.5rem auto!important;
                //width:100%;
            }
        }
    }
    /* Mission Region */
    /* CTA white region */
    .cta-white{

        button{
            margin: 1rem 0 2rem;
        }

        h2,h3{
            line-height:150%;
        }
    }
    /* Evolution Region */
    /* Services Region */
    .services{

        .container-fluid{
            padding:5rem 1rem;;
        }

        .row{

            .col-md-4{
                margin:2rem 0rem;
            }
        }
    }
    /* Crazy video area set up */
    .videos{

        .video-btn{
            left: 28px;
        }

        .waves{
            left: -18px;
        }
    }
    /* Report region */
    .reports{
        background-position-x: center;
        background-position-y: bottom;
        background-size: 120%;

        .container-fluid{
            padding:0;

            .row{

                .row{
                    padding:140px 1rem;

                    h2{
                        padding:0;
                    }
                }
            }

            .background{
                height:300px;
            }

            .col-sm-12{
                padding:0;
            }
        }
    }
    /* Freature Grid Region */

    .feature-grid{

        .mockup{
            display:none;
        }
    }
    /* Quote Carousel region */
    .quote-carousel-outer{

        #carouselExampleIndicators{

            .quote{
                padding:2rem;

                .quote-inner{

                    p{
                        font-size:1.25rem;
                    }
                }
            }
        }
    }
    /* Work process region */
    .work-process{

        .section-content{

            .process-single{
                margin:2rem auto;

            }
        }
    }
    /* Quote CTA Region */
    /* Footer Region */    
}
