/* Styling Variables/ Imports */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
$main-font: 'Ubuntu', sans-serif;
$white:#ebe8e8;
$main-color:#25387d;
$light-blue: #5590cc;
$gray: #525252;
$light-gray:#dee2e6;
$purple: #544fd9;

/* General Styling  */

h1,h2,h3,h4,h5,h6,p{
    font-family: $main-font;
}

h1{
    font-size:54px;
    font-weight: 700;
}

p{
    color:#888;
}

img{
	max-width:100%;
}

.theme-color{
    color:$main-color;
}

.theme-bg{
    background-color:$main-color;
}

.flat-section .section-content {
    width: 100%;
    padding: 100px 0 100px;
    position: relative;
    clear: both;
}

.footer .card-columns{
    column-count:4;
}

.footer .card{
    background-color:transparent;
}

.container{
    padding:1rem 0;
}

.bg-blue-grad{
	background: linear-gradient(45deg, rgba(229, 226, 225, 1) 0%, rgba(229, 226, 225, 1) 20%, rgba(229, 226, 225, 1) 100%);
    background: linear-gradient(45deg, rgba(38, 59, 128, .9) 0%, rgba(38, 59, 128, .5) 30%, rgba(38, 59, 128, .2) 100%);
}

.title{
    padding:1rem 0;
}

.quote{
	padding:10rem 5rem;
}

/* Hero & Nav area */

.form-cta-2{

    .col-12:nth-of-type(1){
        text-shadow: 2px 2px 10px rgba(102, 101, 58, .8);

        p{
            color:$white;
        }
    } 

    .box-signup-form {
        position: relative;
        padding: 50px;
        text-align: center;
        background: #ebe8e8;

        input[type=submit]{
            background:$main-color;
            color:$white;
            transition: all 0.2s;
            letter-spacing: 2px;
            padding: 26px 26px;
            font-size: 12px;
            text-transform: uppercase;
        }

        input[type=submit]:hover{
            background:#000;
        }
    }
}

.cta-blue{

    .jumbotron{
        background-image:url(/images/bg.jpg);

        .col-12:nth-of-type(1){
            text-shadow: 2px 2px 10px rgba(102, 101, 58, .8);

            p{
                color:$white;
            }
        } 
    }
}

.quote-bar-wrapper{
    top:10px;
    padding:1rem 0;
    transition:500ms ease;
    span,input,button{
        margin-left:1rem;
    }
}

.quote-bar{
    transition:500ms ease;
}


.main-nav-wrapper{
    transition:500ms ease;
}

.jumbotron{
    height: 100vh;
}

.form-cta-2 .jumbotron{
    background-image:url(/images/clock2-gradient.jpg);
    background-size:cover;
    position:relative;
}

/* Validation Region */
.validation{
    border-bottom:2px solid #5590cc;
    padding:3rem 0;
}

/* Press 2 region */
.press-2{
    padding:2rem 0;
}

/* Overpay Region */

.overpay{

    img{
        padding-bottom:2rem;
    }

    .col-12{

        padding-bottom:3rem;

        p:last-child{
            position:absolute;
            bottom:0;
            left:0;
            width: 100%;

            a{
                color:#f04ea3;
            }
        }
    }
}

/* Rate Table Region */

.rate-table{

    .table{

        width:66%;
        margin:2rem auto;

        thead{
            background-color:$purple;
            color:$white;
        }

        tbody{

            td{
                border-left:1px solid $light-gray;
                text-align:center;
                font-weight:700;
            }
        }
    }
}

/* Qualify Chart region */

.qualify-chart{


}

/* Mission Region */

.mission{

    .container{
        background-color:$purple;
        padding:4rem 0;

        p{
            color:$white;
        }
    }
}

/* Evolution Region */
.evolution{

 i{
    font-size:5rem;
    margin-bottom:2rem;
    color:$main-color;
}

}

.services{

    .col-md-4{
        height:300px;
    }

    i{
        font-size:3rem;
        margin-bottom:2rem;
    }

    .theme-bg{

        h3,p,i{
            color:$white;
        }
    }
}


/* Crazy video area set up */

.videos{

   .fa{
    z-index:10;
    position: absolute;
    top: -50px;
}

a{
    position:relative;
}

.waves {
    position: absolute;
    top: 0;
    background: rgba(235, 232, 232, 0.9);
    left: 50%;
    width: 25px;
    height: 25px;
    margin-left: -12px;
    margin-top: -54px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    z-index:1;

}

.waves .wave-one {
    position: absolute;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    animation: wave-animate 3s infinite ease-out;
    z-index:1;
}

.waves .wave-two {
    position: absolute;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    animation: wave-animate 3s 1s infinite ease-out;
    z-index:1;
}

.waves .wave-three {
    position: absolute;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    animation: wave-animate 3s 2s infinite ease-out;
    z-index:1;
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}


.video-btn {
    display: inline-block;
    margin-top: 40px;
    height: 80px;
}

}

/* Report region */

.reports{
    background-image: url(/images/kit.png);
    background-position-x: right;
     background-position-y: center;
    background-repeat: no-repeat;
    background-size: 45%;
    background-color:#dadada;

    a{
        background-color:$main-color;
        color:$white;
        font-size:0.9rem;
        letter-spacing:2px;
        text-transform:uppercase;
    }
} 

.reports .row .row{
    padding:140px 0;
    background-color:#fff;
}

